In [56]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# import scipy.stats as stats

In [57]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [58]:
# Which was the most-ordered item?
most_ordered = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)
most_ordered.head(1) # chicken bowl is the most ordered item

C:\Users\riain\AppData\Local\Temp\ipykernel_11332\4020458316.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  most_ordered = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [59]:
# For the most-ordered item, how many items were ordered?
most_items = most_ordered.head(1)['quantity']
most_items

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [60]:
# What was the most ordered item in the choice_description column?
most_ordered_description = chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False)
most_ordered_description.head(1)

C:\Users\riain\AppData\Local\Temp\ipykernel_11332\2973080661.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  most_ordered_description = chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [61]:
# How many items were ordered in total?
total_items = chipo["quantity"].sum()
total_items

4972

In [62]:
# Turn the item price into a float
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:-1]))

In [63]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [64]:
# How much was the revenue for the period in the dataset?
revenue = chipo["quantity"] * chipo["item_price"]
revenue.sum()

39237.02

In [65]:
# How many orders were made in the period?
orders = chipo["order_id"].value_counts().count()
orders # these are the total number of group orders.

1834

In [66]:
# What is the average revenue amount per order?
chipo["revenue"] = chipo["quantity"] * chipo["item_price"]
avg_revenue_per_order = chipo.groupby("order_id").sum().mean()["revenue"]
avg_revenue_per_order

C:\Users\riain\AppData\Local\Temp\ipykernel_11332\4133972094.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_revenue_per_order = chipo.groupby("order_id").sum().mean()["revenue"]

21.39423118865867

In [67]:
# How many different items are sold?
sold_items = chipo["item_name"].value_counts().count()
sold_items

50